aniso8601==8.0.0
astroid==2.3.1
attrs==19.2.0
boto3==1.10.32
botocore==1.13.32
Click==7.0
dnspython==1.16.0
docutils==0.15.2
Flask==1.1.1
Flask-Cors==3.0.8
Flask-Login==0.4.1
flask-restplus==0.13.0
importlib-metadata==0.23
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
jsonschema==3.1.1
lazy-object-proxy==1.4.2
MarkupSafe==1.1.1
mccabe==0.6.1
mongoengine==0.18.2
more-itertools==7.2.0
numpy==1.17.4
pandas==0.25.3
pylint==2.4.2
pymongo==3.9.0
pyrsistent==0.15.4
python-dateutil==2.8.0
pytz==2019.3
s3transfer==0.2.1
six==1.12.0
typed-ast==1.4.0
urllib3==1.25.7
Werkzeug==0.16.0
wrapt==1.11.2
zipp==0.6.0
